body {
  margin-top: 20px;
  background-image: url(https://wallpaperaccess.com/full/2492673.jpg);
  background-size: cover;
}

.card {
  margin-bottom: 1.5rem;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .08);
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #EEEEEE;
  background-clip: border-box;
  border: 1px solid black;
  border-radius: .2rem;
}

.item input:hover, .item select:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 5px 0 #095484;
  color: #095484;
}

.item {
  position: relative;
  margin: 10px 0;
}

span.required {
      color: red;
      }
